---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "December 2021 - present",
    title: "Senior Software Engineer",
    company: "HERE Technologies",
    location: "Berlin, Germany",
    description:
      "Developed web services for BringYourOwnData solution for compiling and deploying customer provided private maps with live updates",
  },
  {
    date: "November 2019 - November 2021",
    title: "Robotics Software Engineer",
    company: "Enway",
    location: "Berlin, Germany",
    description:
      "Developed autonomous docking for automated charging and modules for robot safety system. Built configuration management system for versioned robots",
  },
  {
    date: "May 2017 - October 2019",
    title: "Robotics Software Engineer",
    company: "Blue Ocean Robotics",
    location: "Odense, Denmark",
    description:
      "Developed reactive multi-layered perception framework for environment representation. Worked on Coverage planning for cleaning robot. Built task planning and execution using behavior trees for disinfection robot",
    link: "https://uvd.blue-ocean-robotics.com/",
  },
  {
    date: "Feburary 2016 - April 2017",
    title: "Software Engineer",
    company: "Yujin Robot",
    location: "Seoul, South Korea",
    description:
      "Designed behaviors for the behavior trees to tackle human interface situations for autonomous logistic robot GoCart",
    link: "https://www.youtube.com/watch?v=o_FdjlKapYE",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
